<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="background-white container-small container">
			<div class="row"> <!-- main row -->
				<div class="border-radius-10 black-border col-md-2" style="background-color: #D6E4FF; margin-left: 8%; margin-top: 25px">
					<form>
					  <div class="form-group">
					    <label for="results">Results per category</label>
					    <input type="email" class="form-control" id="results" placeholder="3">
					  </div>

					  <div class="form-group">
					    <label for="categories">Categories/Row</label>
					    <input type="email" class="form-control" id="categories" placeholder="3">
					  </div>

					  <div class="form-group">
					    <label for="Major">Major</label>
					    <input type="email" class="form-control" id="Major" placeholder="Enter a Major">
					  </div>

					  <div class="form-group">
					    <label for="Location">Location</label>
					    <input type="email" class="form-control" id="Location" placeholder="Enter a Location">
					  </div>

					  <div class="form-group">
					    <label for="Tuition">Tuition</label>
					    <input type="email" class="form-control" id="Tutition" placeholder="Enter a Tuition">
					  </div>

					  <button type="button" class="btn btn-default btn-lg">Search</button>

					</form>
				</div>
				<div class="col-md-8"> <!-- rankings col -->
					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><strong><u>Academic Rigor</u></strong></label>
							<ul class="ranking-list">
								<li>1) University 1</li>
								<li>2) University 2</li>
								<li>3) University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Campus Life</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Food</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Housing</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Boys about Girls</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Girls about Boys</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Administration</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Weather</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Post College Options</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>
				</div> <!-- rankings col -->
			</div> <!-- ./ main row -->
		</div>
	</body>
</html>