<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="background-white container-small container">
			<div class="row"> <!-- main row -->
				<div class="col-md-10 col-md-offset-1"> <!-- rankings col -->
					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><strong><u>Academic Rigor</u></strong></label>
							<ul class="ranking-list">
								<li>1) University 1</li>
								<li>2) University 2</li>
								<li>3) University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Campus Life</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Food</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Housing</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Boys about Girls</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Girls about Boys</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>

					<div class="center-text row">
						<div class="ranking-box black-border background-white col-md-3">
							<label id="font-22"><u>Administration</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Weather</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>

						<div class="ranking-box black-border background-white col-md-3 col-md-offset-1">
							<label id="font-22"><u>Post College Options</u></label>
							<ul class="ranking-list">
								<li>University 1</li>
								<li>University 2</li>
								<li>University 3</li>
							</ul>
						</div>
					</div>
				</div> <!-- rankings col -->
			</div> <!-- ./ main row -->
		</div>
	</body>
</html>