<!doctype html>

<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="style.css">
	<head>

	<body>

		<div class="container-small container" style="background-color: white">
			<div class="row">
				<label id="basic-search" class="row" style="margin-left: 6.5%; position: absolute; top: 0; margin-top: 45px">Search</label>

				<div class="border-radius-10 black-border col-md-3" style="background-color: #D6E4FF; margin-left: 8%; margin-top: 40px">
					<form>
					  <div class="form-group">
					    <label for="Major">Major</label>
					    <input type="email" class="form-control" id="Major" placeholder="Enter a Major">
					  </div>

					  <div class="form-group">
					    <label for="Tuition">Tutition</label>
					    <input type="email" class="form-control" id="Tuition" placeholder="Enter a Tuition">
					  </div>

					  <div class="form-group">
					    <label for="Class Size">Class Size</label>
					    <input type="email" class="form-control" id="Class Size" placeholder="Enter a Class Size">
					  </div>

					  <div class="form-group">
					    <label for="City Setting">City Setting</label>
					    <input type="email" class="form-control" id="City Setting" placeholder="Enter a City Setting">
					  </div>

					  <div class="form-group">
					    <label for="State">State</label>
					    <input type="email" class="form-control" id="State" placeholder="Enter a State">
					  </div>

					  <button type="button" class="btn btn-default btn-lg">Search</button>

					</form>
				</div>

				<div class="col-md-8">
					<div class="row">
						<div class="col-md-3" style="margin-left: 0.7%;margin-bottom: 5px;margin-top: 5px">
							<label style="display: inline-block">Sort By: </label>

							<select style="display: inline-block; width: auto" class="form-control">
								<option>Hello World</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>

					<div id="results" class="row">
						<table class="table black-border" style="margin-left: 2.2%">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Are you Interested?</th>
									<th style="width: 40%">School Name</th>
									<th>Tuition</th>
									<th>Relevance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- row -->
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<!-- Latest compiled and minified JavaScript -->
		<script src="jquery-3.1.0.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>


</html>