<!doctype html>
<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container">
			<div class="row">

        <%= render 'layouts/search-parameters' %>

				<div class="col-md-8">
					<div id="results" class="row">
						<table class="table black-border" style="margin-top: 20px; margin-left: 2.2%">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Are you Interested?</th>
									<th style="width: 40%">School Name</th>
									<th>Tuition</th>
									<th>Relevance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- row -->
		</div>
	</body>
</html>