<!doctype html>

<html>
	<head>
    <title>Home</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container">
			<div class="background-white row">
				<div class="black-border col-md-6">
					<div class="punahou-seal-background short row">
						<label id="header">Welcome to PunaLink,</label>
						<p class="welcome-p-1">A resource for Punahou Academy students sourced from Punahou Alumni. Get real input from our alumni on their colleges.  Find out what other Oahuans think about everything from campus life, to academic rigor, to food.  The real inside info . . . </p>

						<p class="welcome-p-2"><strong>by Punahou for Punahou<strong></p>

						<img class="punahou-seal" src="http://i.imgur.com/9vvaNqp.png">
					</div>

					<div class="black-border-top short row">
						<label id="font-26">Recent Reviews</label>
						<p><em>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."</em></p>
					</div>
				</div>

				<div class="background-white col-md-6 black-border">
					<label id="font-26">Colleges of The Week</label>

					<label id="font-22">Stanford University</label>
					<img class="recommended-colleges-image" src="res/Stanford University.jpg">

					<label id="font-22">Harvard University</label>
					<img class="recommended-colleges-image" src="res/Harvard University.jpg">
				</div>
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<script src="jquery-3.1.0.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>
</html>