<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container" style="background-color: white">
			<div class="row">
				<div class="col-md-12 col-md-offset-1" style="margin-top: 40px">
					<div id="results" class="row">
						<table class="table black-border" style="margin-left: 2.0%">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Are you Interested?</th>
									<th style="width: 40%">School Name</th>
									<th># Reviews</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>

								<tr>
									<td>Yes   No   Maybe</td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- row -->
		</div>
	</body>


</html>