<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
		<title>Most Reviews</title>
	<head>

	<body class="body">
		<div class="container-small container" style="background-color: white">
			<div class="row">
				<%= will_paginate @colleges %>
				<table class="black-border table" style="margin-top: 0">
					<thead style="background: #D6E4FF">
						<tr>
							<th style="width: 40%">School Name</th>
							<th># Reviews</th>
						</tr>
					</thead>
					<tbody>
						<% @colleges.each do |college| %>
  							<tr>
								<td><%= link_to college.name,   college %></td>
								<td><%= college.reviews_count %></td>
  							</tr>
						<% end %>
						</tr>
					</tbody>
				</table>
			</div> <!-- row -->
		</div>
	</body>


</html>