<!doctype html>

<html>
	<head>
		<link rel="stylesheet" href="custom.scss">
	<head>

	<body class="body">
		<div class="container-small container" style="background-color: white">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#Yes">Yes</a></li>
			  <li><a data-toggle="tab" href="#Maybe">Maybe</a></li>
			  <li><a data-toggle="tab" href="#Recommended">Recommended</a></li>
			</ul>

			<div class="tab-content">
			  <div id="Yes" class="tab-pane fade in active">
			    <div id="results" class="row">

			    	<form class="form-horizontal" role="form" style="margin-top: 5px">
					    <div class="form-group">
					        <label for="Search Schools" class="col-sm-2 control-label" style="padding-left: 0px">Search Schools: </label>
					        <div class="col-sm-4" style="padding-left: 0px">
					            <input type="text" class="form-control" id="input" placeholder="Start typing school">
					        </div>
					    </div>
					</form>

						<table class="table black-border" style="margin-left: 2.2%; margin-top: 15px">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Change Interest</th>
									<th style="width: 40%">School Name</th>
									<th>Tuition</th>
									<th>Relevance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">Stanford</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">Harvard</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>
							</tbody>
						</table>
					</div>
			  </div>
			  <div id="Maybe" class="tab-pane fade">
			    <div id="results" class="row">

			    	<form class="form-horizontal" role="form" style="margin-top: 5px">
					    <div class="form-group">
					        <label for="Search Schools" class="col-sm-2 control-label" style="padding-left: 0px">Search Schools: </label>
					        <div class="col-sm-4" style="padding-left: 0px">
					            <input type="text" class="form-control" id="input" placeholder="Start typing school">
					        </div>
					    </div>
					</form>

						<table class="table black-border" style="margin-left: 2.2%; margin-top: 15px">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Change Interest</th>
									<th style="width: 40%">School Name</th>
									<th>Tuition</th>
									<th>Relevance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">Dartmouth</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">Princeton</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>
							</tbody>
						</table>
					</div>
			  </div>
			  <div id="Recommended" class="tab-pane fade">
			    <table class="table black-border" style="margin-left: 2.2%; margin-top: 15px">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 25%">Are you interested</th>
									<th style="width: 40%">School Name</th>
									<th>Tuition</th>
									<th>Relevance</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">University of Hawaii</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>

								<tr>
									<td><a href="#">Yes&emsp;&emsp;</a><a href="#">No&emsp;&emsp;</a><a href="#">Maybe</a></td>
									<td><a href="#">MIT</a></td>
									<td>30000</td>
									<td>99%</td>
								</tr>
							</tbody>
						</table>
			  </div>
			</div>
		</div>
</html>