<html>
    <head>
        <h1>Name: <%= @ranking.name %></h1>
    </head>
    
    <body class="body">
        <h2>Response 1: <%= @ranking.response1 %></h2>
        <h2>Response 1: <%= @ranking.response2 %></h2>
    </body>
</html>