<html>
    <head>
        <title>Users</title>
    </head>
    <body class="body">
		<div class="container-small container">
			<div class="row">
				<div class="col-md-12">
					<div id="results" class="row">
					    <%= will_paginate @users %>
						<table class="table black-border col-md-12" style="margin-top: 0; margin-left: 2.2%; width: 96%">
							<thead style="background: #D6E4FF">
								<tr>
									<th style="width: 20%">Name</th>
									<th style="width: 20%">Submitted Review</th>
									<th>Type</th>
									<th style=" width: 20%">Profile</th>
								</tr>
							</thead>
							<tbody>
								<% @users.each do |u|%>
                                    <tr>
                                        <td><%= u.name %></td>
                                        <% if u.submitted_review == 1 %>
                                            <td>True</td>
                                        <% else %>
                                            <td>False</td>
                                        <% end %>
                                        <% if u.alumni == 0 %>
                                        	<td>Current Student</td>
                                        <% else %>
                                        	<td>Alumn</td>
                                        <% end %>
                                            <td><%= link_to "Profile", u %></td>
                                    </tr>
                                <% end %>
							</tbody>
						</table>
						
					</div>
				</div>
			</div> <!-- row -->
		</div>
	</body>
</html>