<html>
  <head>

  </head>

  <body class="body">
    <h1>Make College</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@college) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
        
          <%= f.submit "Create college", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </body>
</html>
