<div class="search-form border-radius-10 black-border col-md-3">
					<form>
					  <div class="form-group">
					    <label for="Major">Major</label>
					    <input type="email" class="form-control" id="Major" placeholder="Enter a Major">
					  </div>

					  <div class="form-group">
					    <label for="Tuition">Tutition</label>
					    <input type="email" class="form-control" id="Tuition" placeholder="Enter a Tuition">
					  </div>

					  <div class="form-group">
					    <label for="Class Size">Class Size</label>
					    <input type="email" class="form-control" id="Class Size" placeholder="Enter a Class Size">
					  </div>

					  <div class="form-group">
					    <label for="City Setting">City Setting</label>
					    <input type="email" class="form-control" id="City Setting" placeholder="Enter a City Setting">
					  </div>

					  <div class="form-group">
					    <label for="State">State</label>
					    <input type="email" class="form-control" id="State" placeholder="Enter a State">
					  </div>

					  <button type="button" class="btn btn-default btn-lg">Search</button>

            <div class ="search-button-div">
              <label class="sort-by-select">Sort By: </label>
                <select style="display: inline-block; width: auto" class="form-control">
                  <option>Hello World</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
					</form>
</div>